.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f4f6f9;
}

.auth-card {
  background: white;
  padding: 30px;
  width: 380px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background-color: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 5px;
  cursor: pointer;
}

.auth-card button:hover {
  background-color: #f7ca00;
}