.orders-page {
  background-color: #eaeded;
  min-height: 100vh;
  padding: 40px 80px;
}

.orders-page h2 {
  margin-bottom: 30px;
}

.order-card {
  display: flex;
  gap: 20px;
  background: white;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  transition: 0.2s;
}

.order-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.order-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.order-info h3 {
  margin-bottom: 10px;
}

.status {
  font-weight: bold;
  color: green;
}

.date {
  font-size: 13px;
  color: gray;
}